In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [3]:
df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [4]:
df['species'].value_counts() # 어떤 값이 몇개 있는지 확인해볼 때

versicolor    50
setosa        50
virginica     50
Name: species, dtype: int64

In [5]:
df['petal_width'].value_counts()

0.2    29
1.3    13
1.5    12
1.8    12
1.4     8
2.3     8
1.0     7
0.3     7
0.4     7
2.0     6
2.1     6
0.1     5
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: petal_width, dtype: int64

In [6]:
len(df) # 데이터 프레임의 행이 몇개인지 셀 때

150

In [7]:
pd.DataFrame(df['species'].value_counts()) # 따로 만들어서 사용하고 싶다면 이렇게 데이터 프레임을 만들어 줌

            species
versicolor       50
setosa           50
virginica        50

In [8]:
df.shape # 행 열 수 확인 방법

(150, 5)

In [9]:
df.shape[0]

150

In [10]:
df['species'].nunique() # 유니크 value의 개수 세기

3

In [11]:
df.describe() # 기본적으로 수치형 데이터들의 기본 분석값이 나옴

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [12]:
df.describe(include='all') # 수치형 뿐만 아니라 문자형도 분석값을 넣기

        sepal_length  sepal_width  petal_length  petal_width     species
count     150.000000   150.000000    150.000000   150.000000         150
unique           NaN          NaN           NaN          NaN           3
top              NaN          NaN           NaN          NaN  versicolor
freq             NaN          NaN           NaN          NaN          50
mean        5.843333     3.057333      3.758000     1.199333         NaN
std         0.828066     0.435866      1.765298     0.762238         NaN
min         4.300000     2.000000      1.000000     0.100000         NaN
25%         5.100000     2.800000      1.600000     0.300000         NaN
50%         5.800000     3.000000      4.350000     1.300000         NaN
75%         6.400000     3.300000      5.100000     1.800000         NaN
max         7.900000     4.400000      6.900000     2.500000         NaN

In [13]:
df.describe(include=[np.object]) # freq = 프리퀀시

           species
count          150
unique           3
top     versicolor
freq            50

In [14]:
df.describe(include=[np.number]) # 숫자만 보자

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

sum()
Sum values of each object. 

count()
Count non-NA/null values of each object.

median()
Median value of each object. quantile([0.25,0.75])
Quantiles of each object. 

apply(function)
Apply function to each object.

min()
Minimum value in each object. 

max()
Maximum value in each object. 

mean()
Mean value of each object. 

var()
Variance of each object. 

std()
Standard deviation of each object.

In [15]:
df['sepal_length'].sum()

876.5

In [16]:
df['sepal_length'].count()

150

In [17]:
df['sepal_length'].median()

5.8

In [18]:
df['sepal_length'].mean

<bound method Series.mean of 0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64>

In [19]:
df.quantile([0.25, 0.75])

      sepal_length  sepal_width  petal_length  petal_width
0.25           5.1          2.8           1.6          0.3
0.75           6.4          3.3           5.1          1.8

In [20]:
df['sepal_length'].min()

4.3

In [21]:
df['sepal_length'].max()

7.9

In [22]:
df['sepal_length'].var()

0.6856935123042505

In [23]:
df['sepal_length'].std()

0.8280661279778629

### apply(function)

- Pandas Dataframe(데이터프레임, 2차원) 타입의 객체에서 호출
- 행 또는 열 또는 전체의 셀(=원소)에 원하는 연산을 지원
- numpy의 sqrt과 같이 단일 연산인 경우 전체에 적용
- numpy의 min, max, average와 같이 집계되는 경우 사라질 축을 지정
- 행은 사라지고 열 단위로 집계하고 싶은 경우 axis = 0으로 지정
- 열은 사라지고 행 단위로 집계하고 싶은 경우 axis = 1으로 지정

In [30]:
def smp(x):
    # 뒤에서 3번째까지의 문자를 가져오는 함수
    x = x[-3:]
    return x

In [31]:
df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species species_3
0           5.1          3.5           1.4          0.2  setosa       set
1           4.9          3.0           1.4          0.2  setosa       set
2           4.7          3.2           1.3          0.2  setosa       set

In [32]:
df.apply(lambda x : x[0]) # Lambda란 함수를 한 줄로 표현하는 익명 함수 기법, smp 함수와 동작하는 것을 잘 보자

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
species_3          set
dtype: object

In [33]:
df['species'].apply(lambda x : x[:3])

0      set
1      set
2      set
3      set
4      set
      ...
145    vir
146    vir
147    vir
148    vir
149    vir
Name: species, Length: 150, dtype: object

In [28]:
df['species_3'] = df['species'].apply(lambda x : x[:3])

In [34]:
df['species33'] = df['species'].apply(smp)

In [35]:
df.head(3)

,sepal_length,sepal_width,petal_length,petal_width,species,species_3,species33
0,5.1,3.5,1.4,0.2,setosa,set,osa
1,4.9,3.0,1.4,0.2,setosa,set,osa
2,4.7,3.2,1.3,0.2,setosa,set,osa