---

# Creating DataFrames

- Pandas cheat_sheet

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6],      
         "b" : [7, 8, 9], 
         "c" : [10, 11, 12]},    
        index = [1, 2, 3])

In [3]:
df # Pandas에서 리스트는 Series 라고 부른다

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [4]:
df['a'] # 특정 열만 가져오기

1    4
2    5
3    6
Name: a, dtype: int64

In [ ]:
df[['a', 'c']] # 여러 특정 열을 보려면 리스트안에 배열을 담아라

In [ ]:
df.loc[2] # 행을 보려면 loc를 쓰자

In [ ]:
df.loc[2, 'b'] # 특정 행렬을 볼 때, 행 > 열 순으로 적어주자

In [6]:
df.loc[[1, 2], ['a', 'c']] # 여러개의 항목 지정해서 가져오기 : 행 > 열 순으로

   a   c
1  4  10
2  5  11

In [7]:
df = pd.DataFrame(
        [[4, 7, 10],
        [5, 8, 11],
        [6, 9, 12]], 
        index=[1, 2, 3], 
        columns=['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [8]:
df = pd.DataFrame(
        {"a" : [4 ,5, 6], 
        "b" : [7, 8, 9], 
        "c" : [10, 11, 12]},    
        index = pd.MultiIndex.from_tuples(
        [('d',1),('d',2),('e',2)], 
        names=['n','v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12