In [1]:
import numpy as np

- numpy 모듈의 array 메소드에 파라미터로 파이썬 리스트를 넘겨주면 numpy array가 리턴됌

In [2]:
array1 = np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31])
array1

array([ 2,  3,  5,  7, 11, 13, 17, 19, 23, 29, 31])

In [3]:
type(array1)

numpy.ndarray

In [4]:
array1.shape

(11,)

In [9]:
array1.size

11

In [5]:
array2 = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]])

In [6]:
type(array2)

numpy.ndarray

In [7]:
array2.shape

(3, 4)

In [8]:
array2

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [10]:
array2.size

12

In [13]:
array3 = np.full(6, 7) # full 메소드 : 6개 7을 균일하게 넣음
array3

array([7, 7, 7, 7, 7, 7])

#### numpy의 random 모듈의 random 함수 사용
- numpy 모듈 안에 random 모듈이 있고, 그 안에 또 random 함수가 있음

In [14]:
array1 = np.random.random(6)
array2 = np.random.random(6)

print(array1)
print()
print(array2)

[0.520747   0.19203491 0.59227402 0.43499364 0.99771636 0.4510959 ]

[0.23888564 0.12475081 0.66027021 0.47128633 0.84884576 0.44996469]

## arange : 연속된 값들이 담긴 numpy array
- Python의 range와 비슷한 원리
- 파라미터의 수에 따라 조금씩 달라짐

In [15]:
array1 = np.arange(6) # 0부터 6까지 넣음
array1

array([0, 1, 2, 3, 4, 5])

In [16]:
array2 = np.arange(2, 7) # 2부터 7-1 까지 넣음
array2

array([2, 3, 4, 5, 6])

In [17]:
array3 = np.arange(3, 17, 3) # 3부터 17 미만까지 넣는데 3배수로 넣음
array3

array([ 3,  6,  9, 12, 15])

In [19]:
x = np.arange(1, 101, 3)
x

array([  1,   4,   7,  10,  13,  16,  19,  22,  25,  28,  31,  34,  37,
        40,  43,  46,  49,  52,  55,  58,  61,  64,  67,  70,  73,  76,
        79,  82,  85,  88,  91,  94,  97, 100])

# 인덱싱

In [20]:
array1 = np.array([2, 3, 5, 6, 11, 13, 17, 19 ,23 ,29, 31])

In [21]:
array1[0]

2

In [22]:
array1[-1]

31

In [23]:
array1[-2]

29

In [25]:
array1[[1, 3, 5]] # 여러 숫자를 호출할 때는 대괄호 안에 괄호로 호출한다.

array([ 3,  6, 13])

In [26]:
array2 = np.array([2, 1, 3])

In [27]:
array1[array2]

array([5, 3, 6])

# 슬라이싱

In [28]:
array1[2:7]

array([ 5,  6, 11, 13, 17])

In [29]:
array1[0:7]

array([ 2,  3,  5,  6, 11, 13, 17])

In [30]:
array1[:4]

array([2, 3, 5, 6])

In [31]:
array1[3:]

array([ 6, 11, 13, 17, 19, 23, 29, 31])

In [33]:
array1[2:11:2] # 2의 배수로 호출

array([ 5, 11, 17, 23, 31])

In [34]:
array1[2:11:3] # 3의 배수로 호출

array([ 5, 13, 23])

In [35]:
array1 = np.arange(10)
array2 = np.arange(10, 20)

In [36]:
array1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [37]:
array2

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [38]:
for i in range(len(array1)):
    array1[i] = 2 * array1[i]

In [39]:
array1

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [41]:
array1 * 2

array([ 0,  4,  8, 12, 16, 20, 24, 28, 32, 36])

In [43]:
array1 / 2

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [44]:
array1 + 2

array([ 2,  4,  6,  8, 10, 12, 14, 16, 18, 20])

In [46]:
array1 ** 2

array([  0,   4,  16,  36,  64, 100, 144, 196, 256, 324], dtype=int32)

#### 중요 : 위는 저장되지 않았다

In [48]:
array1 # 저장되지 않음을 확인

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [50]:
array1 *= 2 # 값을 넣어줘야 최종 저장 된다
array1

array([ 0,  8, 16, 24, 32, 40, 48, 56, 64, 72])

In [53]:
array1 + array2

array([10, 19, 28, 37, 46, 55, 64, 73, 82, 91])

In [54]:
array1 * array2

array([   0,   88,  192,  312,  448,  600,  768,  952, 1152, 1368])

In [56]:
array1 / array2

array([0.        , 0.72727273, 1.33333333, 1.84615385, 2.28571429,
       2.66666667, 3.        , 3.29411765, 3.55555556, 3.78947368])

## 실습과제 : 신주쿠 흥부부대찌개

In [63]:
import numpy as np 
revenue_in_yen = [ 300000, 340000, 320000, 360000, 440000, 140000, 180000, 340000, 330000, 290000, 280000, 380000, 170000, 140000, 230000, 390000, 400000, 350000, 380000, 150000, 110000, 240000, 380000, 380000, 340000, 420000, 150000, 130000, 360000, 320000, 250000 ]
revenue_in_yen = np.array(revenue_in_yen)

In [64]:
won = np.full(31, 10.08)

In [65]:
won = won * revenue_in_yen

In [66]:
won

array([3024000., 3427200., 3225600., 3628800., 4435200., 1411200.,
       1814400., 3427200., 3326400., 2923200., 2822400., 3830400.,
       1713600., 1411200., 2318400., 3931200., 4032000., 3528000.,
       3830400., 1512000., 1108800., 2419200., 3830400., 3830400.,
       3427200., 4233600., 1512000., 1310400., 3628800., 3225600.,
       2520000.])

## Numpy boolean 연산 : np.where(booleans)

In [67]:
array1 = np.array([2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31])

In [68]:
array1 > 4

array([False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [69]:
array1 % 2 == 0

array([ True, False, False, False, False, False, False, False, False,
       False, False])

In [70]:
booleans = np.array([True, True, False, True, True, False, True, True, True, False, True])

In [71]:
np.where(booleans) # True인 값은 어디에 있나?

(array([ 0,  1,  3,  4,  6,  7,  8, 10], dtype=int64),)

In [72]:
np.where(array1 > 4)

(array([ 2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64),)

In [74]:
filter = np.where(array1 > 4) # array1에서 4보다 큰값, 즉 filter하고 싶은 조건 저장
filter

(array([ 2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64),)

In [82]:
array1[filter] # 중요 : 필터를 걸 때는 대괄호 안으로 건다.

IndexError: index 12 is out of bounds for axis 0 with size 11

## Numpy 라이브러리 기본 통계 기능

In [84]:
array1.max()

31

In [85]:
array1.min()

2

In [86]:
array1.mean() # 평균

14.545454545454545

In [87]:
array1.std() # 표준편차

9.680004098079865

In [88]:
array1.var() # 분산

93.70247933884298

- 특이하게 median은 numpy array의 메소드가 아니라 numpy의 메소드임

In [89]:
np.median(array1) # 중앙값

13.0

## 실습과제 : Numpy boolean 연산
- 20만엔 이하의 매출만 담긴 numpy array 출력

In [78]:
import numpy as np 

revenue_in_yen = [ 300000, 340000, 320000, 360000, 440000, 140000, 180000, 340000, 330000, 290000, 280000, 380000, 
                  170000, 140000, 230000, 390000, 400000, 350000, 380000, 150000, 110000, 240000, 380000, 380000, 340000, 
                  420000, 150000, 130000, 360000, 320000, 250000 ]

In [79]:
yen = np.array(revenue_in_yen)

In [81]:
filter = np.where(yen <= 200000)
yen[filter]

array([140000, 180000, 170000, 140000, 150000, 110000, 150000, 130000])