In [3]:
import pandas as pd

- pandas는 숫자형, 문자형 자료형 가능

In [4]:
# list 먼저 만들고
two_dimensional_list = [['dongwook', 50, 86],['sineui', 89, 31],['ikjoong', 68, 91],['yoonsoo', 88, 75]]

In [5]:
# df화 하기
my_df = pd.DataFrame(two_dimensional_list)

In [6]:
my_df

          0   1   2
0  dongwook  50  86
1    sineui  89  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [7]:
type(my_df)

pandas.core.frame.DataFrame

In [8]:
my_df.columns

RangeIndex(start=0, stop=3, step=1)

In [9]:
my_df.index

RangeIndex(start=0, stop=4, step=1)

In [10]:
# 데이터타입
my_df.dtypes

0    object
1     int64
2     int64
dtype: object