---

# DataFrame을 만드는 다양한 방법

- dictionary로도 DataFrame을 만들 수 있음

In [1]:
import numpy as np
import pandas as pd

In [2]:
names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

In [3]:
dict1 = {
    'name' : names,
    'english_score' : english_scores,
    'math_score' : math_scores
}

In [4]:
dict2 = {
    'name' : np.array(names),
    'english_score' : np.array(english_scores),
    'math_score' : np.array(math_scores)
}

In [6]:
dict3 = {
    'name' : pd.Series(names),
    'english_score' : pd.Series(english_scores),
    'math_score' : pd.Series(math_scores)
}

In [7]:
df1 = pd.DataFrame(dict1)

In [8]:
df2 = pd.DataFrame(dict2)

In [9]:
df3 = pd.DataFrame(dict3)

In [10]:
print(df1)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

In [11]:
print(df2)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

In [12]:
print(df3)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75