---

 # 2차원 리스트나 2차원 numpy array로 DataFrame을 만들 수 있음
 1. ㅣㅑㄴ

In [2]:
import numpy as np
import pandas as pd

In [3]:
two_dimensional_list = [['dongwook', 50, 86], ['sineui', 86, 31], ['ikjoong', 68, 91], ['yoonsoo', 88, 75]]

In [4]:
two_dimensional_array = np.array(two_dimensional_list)

- 1차원 pandas > Series

In [5]:
list_of_series = [
    pd.Series(['dongwook', 50, 86]),
    pd.Series(['sineui', 86, 31]),
    pd.Series(['ikjoong', 68, 91]),
    pd.Series(['yoonsoo', 88, 75]),
]

In [6]:
# 리스트를 df화
df1 = pd.DataFrame(two_dimensional_list)

In [7]:
# numpy array를 df화
df2 = pd.DataFrame(two_dimensional_array)

In [8]:
# series를 df화
df3 = pd.DataFrame(list_of_series)

In [8]:
print(df1)

          0   1   2
0  dongwook  50  86
1    sineui  86  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [9]:
print(df2)

          0   1   2
0  dongwook  50  86
1    sineui  86  31
2   ikjoong  68  91
3   yoonsoo  88  75

In [10]:
print(df3)

          0   1   2
0  dongwook  50  86
1    sineui  86  31
2   ikjoong  68  91
3   yoonsoo  88  75